<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ style }}" />
		<title>{{ title }}</title>
	</head>
	<body>
	<img_src="/images/Head.png"/>
	<img_src="/images/Forum.png" id=buttons><img_src="/images/Contact.png" id=buttons><img_src="/images/News.png" id=buttons>	<img_src="/images/Membres.png" id=buttons>
		{{ content }}
	</body>
</html>